$text-color: white;
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One&family=Kdam+Thmor+Pro&family=M+PLUS+Rounded+1c&family=Montserrat:wght@100;300&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}